extends _layout
  
block content
  include _nav

  #indexWrapper
    .container
      .row
        each picture in pictures
          .col.s3
            a(href=picture.link target="_blank")
              img.responsive-img(src=picture.images.standard_resolution.url)
            .instagram-bar
              .likes
                span Likes:
                  | #{picture.likes.count}
              .comments
                span Comments:
                  | #{picture.comments.count}
              .caption
                span Caption:
                  | #{picture.caption.text}
              .caption
                span Created At:
                  | #{moment.unix(picture.created_time).format('MM/DD/YYYY')}
              